html,
body {
  background-color: #E7F1FF;
  font-family: Verdana, Tahoma, sans-serif;
}

.container {
  min-width: 576px;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover,
a:active {
  text-decoration: none;
  color: #666666;
}

.title-text {
  color: #000000;
  font-weight: bold;
}

.title-text a:hover,
a:active {
  color: #000000;
}

.title-text {
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
}

.shedule {
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
}

.shedule td {
  padding: 8px;
  border: 1px black solid;
  background-color: #E7F1FF;
}

.text-copy {
  font-size: 0.8rem;
  color: #cccccc;
}

.text-copy a {
  color: #cccccc;
}

.text-copy a:hover,
a:active {
  color: #aaaaaa;
}

.schedule-times {
  line-height: 0.8rem;
}

.stop-title-main {
  font-weight: bold;
  padding-right: 8px;
}

.stop-title-ordnr {
  font-weight: normal;
  padding-right: 8px;
}

.stop-time {
  padding-right: 8px;
}

.schedule-comments {
  font-size: 0.9rem;
}