html,
body {
  background-color: #E7F1FF;
  font-family: Tahoma, sans-serif;
}

.container {
  min-width: 640px;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover,
a:active {
  text-decoration: none;
  color: #666666;
}

.title-text {
  color: #000000;
  font-weight: bold;
}

.title-text a:hover,
a:active {
  color: #000000;
}

.title-text {
  font-size: 1.8rem;
  letter-spacing: 0.3rem;
}

.shedule {
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
}

.shedule td {
  padding: 8px;
  border: 1px black solid;
  background-color: #E7F1FF;
}

.text-copy {
  font-size: 0.8rem;
  color: #cccccc;
}

.text-copy a {
  color: #cccccc;
}

.text-copy a:hover,
a:active {
  color: #aaaaaa;
}